{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "amd": true,
    "commonjs": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "window": true,
    "document": true,
    "console": true
  },
  "rules": {
    "no-console":"off"
  }
}