.item {
  border: 1px solid black;
  padding: 5px;
  padding-bottom: 10px;
  list-style-type: none;
  margin: 5px auto 0;
  width: 90vw;
}

.description,
.price {
  text-align: justify;
  overflow-wrap: break-word;
}

.price {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
