include includes/mixins.pug


<!DOCTYPE html>
html(lang="en")
  +head("Main page", "style.bundle.css")
  body
    +menu("main", "goods", "cart", "order")
    include popup-main.pug
    include popup-goods.pug
    include popup-cart.pug
    include popup-order.pug
    script(src="main.bundle.js")

    