include mixins.pug


<!DOCTYPE html>
html(lang="en")
  +head("Main page", "style.bundle.css")
  body
    a(href="goods.pug") goods
    .popup
      p.title Закажите материалы#[br]
        | прямо сейчас
      form
        +input-nr("name", "Ваше имя")
        +input-nr("phone", "Контактный телефон")
        +input-nr("email", "Электронная почта")
        +input-nr("info", "Какие материалы вам требуются?")
        button Оставить заявку
      p.info Нажимая на кнопку оставить заявку#[br] 
        | вы соглашаетесь с #[span политикой обработки данных]
    script(src="main.bundle.js")

    