.popup-goods goods
  .img-wrap
    img(src="../src/img/iskra.jpg", alt="img")
  .img-wrap
    img(src="../src/img/arduino.jpg", alt="img")
  .img-wrap
    img(src="../src/img/raspberry.jpg", alt="img")