.main {
  & > p > span {
    color: blue;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.ta,
.inp,
.btn {
  margin: 10px auto 0;
  display: block;
}

.btn {
  text-align: center;
}
