.cartPrice {
  border: 1px solid black;
  width: 50vw;
  padding: 5px;
  position: sticky;
  top: 0;
  left: 0;
  margin-left: auto;
  background-color: white;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.rounded {
  border-radius: 10%;
}
