.cartPrice {
  background-color: rgba($color: black, $alpha: 0.8);
  width: 50vw;
  padding: 5px;
  position: fixed;
  position: sticky;
  top: 0;
  right: 0;
  margin-left: auto;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
