.cartPrice {
  display: inline-block;
  background-color: rgba($color: black, $alpha: 0.8);
  width: 90vw;
  padding: 5px;
  position: fixed; // ie fix
  position: sticky;
  top: 0;
}

.yellow {
  color: yellow;
}

.white {
  color: white;
}
