$btn-size: 50px;

.controls {
  color: black;
  background-color: #e0d8d3;
  padding: 10px 0;
  width: 90vw;
  margin: 0 auto;
}

.input,
.btn {
  text-align: center;
  outline: none;
  border: 1px solid black;
  height: $btn-size;
  width: $btn-size;
  font-size: calc(#{$btn-size} / 2);
}

.input {
  width: calc(2 * #{$btn-size});
  box-sizing: border-box;
}

.btn {
  background-color: white;

  &:hover,
  &:active {
    outline: none;
  }
}

.info {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}

@media (min-width: 900px) {
  .btn:hover {
    cursor: pointer;
    background-color: lime;
  }
}
