.products {
  text-align: center;
}

.list {
  padding: 0;
}

.db-update-btn {
  outline: none;
  display: block;
  margin: 10px auto 0;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10%;
  padding: 10px 5px;

  &:active {
    outline: none;
  }
  &:hover {
    background-color: aqua;
    cursor: pointer;
  }
}
